{% extends '@MarlincAdmin/list/base_list.html.twig' %}

{% block actions %}
    <li>{% include '@SonataAdmin/Button/list_button.html.twig' %}</li>
{% endblock %}

{% block list_table %}
    {{ parent() }}
    <script type="text/javascript">
        $('table.table tbody tr td>a').click(function() { return false; })
    </script>
{% endblock %}

{% block table_body %}
    <tbody>
    {% for object in admin.datagrid.results %}
        <tr>
            {% include admin.getTemplate('inner_trash_list_row') %}
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}

{% block list_filters %}
{% endblock %}